<br />

<div class="footer">
    <div class="content container">
        {{#if userData}}
        <p class="is-pulled-right has-text-right" style="font-size: 14px;"><strong style="color: #DD6E42;">***CONFIDENTIAL
                AREA***</strong><br />Access: <strong>{{userData.name}}</strong>. <a href="/auth/logout">Log Out
                »</a><br /><span class="is-hint">{{userData.email}}</span></p>
        {{else}}
        <p class="is-pulled-right has-text-right" style="font-size: 14px;">Admin: <a href="/admin">Log In
                »</a><br /><span class="is-hint">Use Execute Big account.</span></p>
        {{/if}}

        <h5 id="copyright" class="subtitle is-size-4 is-size-5-mobile umami--click--footer-stats">Execute Big</h5>
        <p id="serverStat" class="hidden"></p>
    </div>
</div>

{{#extend "foot-inject"}}
<script src="/static/assets/footer.js" type="text/javascript" defer></script>
{{/extend}}