{{#section 'title'}}
Dashboard
{{/section}}

<div class="container">
    <div class="tabs is-boxed">
        <ul>
            <li class="{{#eq title "Dashboard"}}is-active{{/eq}}"><a href="/"><i class="fas fa-tachometer-alt"></i>&ensp;Dashboard</a></li>
            <li class="{{#eq title "Auto Email"}}is-active{{/eq}}"><a href="/email"><i class="fas fa-mail-bulk"></i>&ensp;Auto Email</a></li>
        </ul>
    </div>
</div>