{
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 80,
  "semi": false,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.hbs",
      "options": {
        "singleQuote": false,
        "proseWrap": "never"
      }
    }
  ]
}
