{{#extend "head-inject"}}
<link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
{{/extend}}

<form method="POST">

  <div class="field">
    <label class="label">Emails to Queue</label>
    <div class="control has-icons-left">
      <input class="input" type="text" placeholder="Email input (separate with commas)" id="emails" name="to">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Email Sender</label>
    <div class="control">
      <div class="select">
        <select name="from">
          <option value="team@executebig.org">team@executebig.org</option>
          <option value="mingjie@executebig.org">mingjie@executebig.org</option>
          <option value="megan@executebig.org">megan@executebig.org</option>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">Subject</label>
    <div class="control has-icons-left">
      <input class="input" type="text" placeholder="Catchy Subject Line Here" id="subject" name="subject">
      <span class="icon is-small is-left">
        <i class="fas fa-font"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Email Content</label>
    <div class="control">
      <textarea id="content" name="content"></textarea>
    </div>
  </div>

  <button type="submit" class="button is-link" onclick="return confirm('You\'re about to send the email! Are you sure?')">Send</button>
</form>


{{#extend "foot-inject"}}
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
<script>
  let easyMDE = new EasyMDE({
    autosave: {
      enabled: true,
      delay: 1000,
      uniqueId: 'email-content'
    },
    element: document.getElementById('content')
  });
</script>
{{/extend}}