<div class="container">
    <form method="POST">
        <div class="field">
            <label class="label">Your Email Address</label>
            <div class="control">
                <input class="input" type="email" name="email" placeholder="steak@executebig.org" required>
            </div>
            <p class="help">Please enter the same email address you entered when submitting the Airtable form.</p>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" type="submit">Login</button>
            </div>
        </div>
    </form>

    <div style="margin-top: 1rem;">
        <p>Need help? Please reach out to <a href="mailto:mingjie@executebig.org">mingjie@executebig.org</a> for
            technical assistance!</p>
    </div>
</div>