<div class="columns">
  <div class="column is-full is-half-desktop">
    <h1 class="title">
      Past/Upcoming Events
    </h1>
    <form method="GET" action="/onboard">
      <div class="field">
        <label class="label">
          Your Event Name
        </label>
        <div class="control">
          <input class="input" type="text" name="eventName" placeholder="DevHacks 2020" />
        </div>
      </div>
      <div class="field">
        <label class="label">
          Your Email Address
        </label>
        <div class="control">
          <input class="input" type="email" name="email" placeholder="dev@devhacks.org" />
        </div>
      </div>
      <button class="button is-brand" type="submit">
        Start Submission
      </button>
    </form>
  </div>
  <div class="divider is-vertical">
    OR
  </div>
  <div class="column is-full is-half-desktop">
    <h1 class="title">
      Continue Submission
    </h1>
    <form>
      <div class="field">
        <label class="label">
          Event Access Code
        </label>
        <div class="control">
          <input class="input" type="text" name="name" placeholder="AHGUWNEC2T346ZWHWU2C" />
        </div>
      </div>
      <button class="button is-brand" type="submit">
        Resume
      </button>
      <hr />
      <p>
        Your event access code was emailed to you after your
        initial submission of your event's basic information. Look for
        an email from
        <strong>
          team@executebig.org
        </strong>
        – you may
        also use the link from the email to directly log in.
      </p>
    </form>
  </div>
</div>