{{#extend "hero-inject"}}
<img class="mb-5" src="/static/assets/heart.svg" style="width: 8rem;">
<h1 class="title is-size-2 is-size-3-mobile mb-4">
   Welcome to Execute Big Research, {{../eventName}}!</h1>
<p class="mt-1" style="line-height: 2; font-size: 1.2rem">
   A confirmation email has been sent to your inbox at <strong>{{../email}}</strong>. 
   But don't worry about that yet — we're going to ask a few
   simple questions about your event to determine the next steps.</p>
{{/extend}}