<img class="mb-5" src="/static/assets/party.svg" style="width: 8rem;" />
<h1 class="title is-brand is-size-2 is-size-3-mobile">
    Call Scheduled!
</h1>
<p>
    Thank you for scheduling a call with us! We're really looking forward to chatting with you. We have sent over a calendar invite already!
</p>
<p>
    If you have any questions, feel free to email <a href="mailto:team@executebig.org">team@executebig.org</a>. Looking forward to talking to you!
</p>