@import url("https://rsms.me/inter/inter.css");

html, body, button, input, select, textarea {
  font-family: "Inter", sans-serif!important;
}

@supports (font-variation-settings: normal) {
  html, body, button, input, select, textarea {
    font-family: "Inter var", sans-serif!important;
  }
}


span.is-branding {
  color: #266dd3;
  font-weight: 800;
}

img.is-logo {
  margin: 0 20px;
  padding: 0 5px;
}

a.is-disabled {
  color: gray;
  cursor: not-allowed;
}

.container.main {
  margin: 2rem auto;
}

.panel-heading .hint {
  font-size: 70%;
  opacity: .6;
}

.panel-heading .live-dot {
  margin: 10px;
  color: #e42d42;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .2;
  }

  100% {
    opacity: 1;
  }
}

.button {
  border-radius: 5px!important;
}

.hero.is-brand {
  background-color: #266dd3;
}

.hero.is-brand .is-branding {
  color: #fff;
}

.field {
  margin-top: 2rem;
}

.label.required::after {
  content: '*';
  color: #e42d40;
  margin-left: 2px;
}

.hidden {
  display: none
}

#copyright {
  font-size: 14px;
  font-weight: 800;
  color: #4a4a4a!important;
  cursor: default;
  
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */     
}

#copyright:focus {
  outline: -webkit-focus-ring-color auto 1px;
}

#serverStat {
  font-size: 14px;
}