html,
body,
button,
input,
select,
textarea {
  font-family: 'Inter', sans-serif !important;
}

h1, h2, h3, h4, h5, .subtitle {
  font-family: 'Nunito', Helvetica, Arial, sans-serif, -apple-system;
  font-weight: 900;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-Content {
  flex: 1;
}

.hero {
  user-select: none;
  position: relative;
}

.hero img {
  position: absolute;
  right: -5%;
  opacity: .2;
  height: 125%;
  top: -12.5%;
}

span.is-branding {
  color: #266dd3;
  font-weight: 800;
}

img.is-logo {
  margin: 0 20px;
  padding: 0 5px;
}

a.is-disabled {
  color: gray;
  cursor: not-allowed;
}

.container.main {
  margin: 2rem auto;
}

.panel-heading .hint {
  font-size: 70%;
  opacity: 0.6;
}

.panel-heading .live-dot {
  margin: 10px;
  color: #e42d42;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.button {
  border-radius: 5px !important;
  text-transform: uppercase;
  font-family: 'Nunito', Helvetica, Arial, sans-serif, -apple-system!important;
}

.hero.is-brand {
  background-color: #266dd3;
}

.hero.is-brand .is-branding {
  color: #fff;
}

.field {
  margin-top: 2rem;
}

.label {
  font-family: 'Nunito', Helvetica, Arial, sans-serif, -apple-system!important;
}

.label.required::after {
  content: '*';
  color: #e42d40;
  margin-left: 2px;
}

.hidden {
  display: none;
}

#copyright {
  font-size: 24px;
  font-weight: 800;
  color: #266dd3 !important;
  font-family: 'Nunito', Helvetica, Arial, sans-serif, -apple-system;
  cursor: default;

  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

#copyright:focus {
  outline: -webkit-focus-ring-color auto 1px;
}

#serverStat {
  font-size: 14px;
}

.footer {
  padding-bottom: 3em;
}

.is-hint {
  color: lightslategrey;
}

.message-header {
  font-family: 'Nunito', Helvetica, Arial, sans-serif, -apple-system!important;
  font-size: 18px;
}