$colors: null;

@import '../node_modules/bulma/sass/utilities/_all';

$primary: #266dd3;
$secondary: #dd6e42;
$dark: #2f2f41;

$family-primary: 'Inter', sans-serif;
$family-secondary: 'Nunito', Helvetica, Arial, sans-serif,
  -apple-system;

body {
  font-family: $family-primary;
  color: #2f2f41;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
html,
button,
input,
select,
textarea {
  font-family: $family-primary;
  color: #2f2f41;
}
h1,
h2,
h3,
h4,
h5,
.title,
.subtitle {
  font-family: $family-secondary;
  font-weight: 900;
  color: #2f2f41;
  line-height: 1.25;
}
.Site-Content {
  flex: 1;
}
.hero {
  user-select: none;
  position: relative;
  img {
    position: absolute;
    right: -5%;
    opacity: 0.2;
    height: 125%;
    top: -12.5%;
  }
  .hero-body {
    padding: 4rem 1.5rem;
  }
}
span.is-branding {
  color: #266dd3;
  font-weight: 800;
}
img.is-logo {
  margin: 0 20px;
  padding: 0 5px;
}
a.is-disabled {
  color: gray;
  cursor: not-allowed;
}
.panel-heading {
  .hint {
    font-size: 70%;
    opacity: 0.6;
  }
  .live-dot {
    margin: 10px;
    color: #dd6e42;
    animation: pulse 2s infinite;
  }
  font-family: $family-secondary;
  font-size: 18px;
}
.button {
  border-radius: 5px !important;
  text-transform: uppercase;
  font-family: $family-secondary;
}
.hero.is-brand {
  background-color: #266dd3;
  .is-branding {
    color: #fff;
  }
}
.field {
  margin-top: 2rem;
}
.label {
  font-family: $family-secondary;
  font-size: 18px;
}
.label.required {
  &::after {
    content: '*';
    color: #dd6e42;
    margin-left: 2px;
  }
}
.hidden {
  display: none;
}
#copyright {
  font-weight: 800;
  color: #fff !important;
  font-family: $family-secondary;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:focus {
    outline: -webkit-focus-ring-color auto 1px;
  }
}
#serverStat {
  font-size: 14px;
}
.footer {
  margin-top: 2rem;
  padding: 2rem 1.5rem 1.5rem;
  background-color: #266dd3;
  color: #fff;
  .is-hint {
    color: lightgray;
  }
  a {
    color: #fff;
  }
  strong {
    color: #fff;
  }
}
.is-hint {
  color: lightslategrey;
}
.message-header {
  font-family: $family-secondary;
  font-size: 18px;
}
.panel {
  margin-top: 1rem;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@import '../node_modules/bulma/bulma.sass';